@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
footer input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
footer input[type=range]:focus {
  outline: none;
}
footer input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: #264a6e;
  border-radius: 5px;
}
footer input[type=range]::-webkit-slider-thumb {
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #264a6e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
footer input[type=range]:focus::-webkit-slider-runnable-track {
  background: #264a6e;
}
footer input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: #264a6e;
  border-radius: 1px;
}
footer input[type=range]::-moz-range-thumb {
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
footer input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
footer input[type=range]::-ms-fill-lower {
  background: #264a6e;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
footer input[type=range]::-ms-fill-upper {
  background: #264a6e;
  border-radius: 2px;
}
footer input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
footer input[type=range]:focus::-ms-fill-lower {
  background: #264a6e;
}
footer input[type=range]:focus::-ms-fill-upper {
  background: #264a6e;
}

.h {
  display: flex;
  flex-direction: column;
}
.h .middle {
  position: relative;
  width: 100%;
  margin-top: 1em;
  margin-right: 2em;
}
.h .slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.h .slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #cac4c4;
}
.h .slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #264a6e;
}
.h .slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #264a6e;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 202, 238, 0.17);
  transition: box-shadow 0.3s ease-in-out;
}
.h .slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.h .slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.h .slider > .thumb.hover {
  box-shadow: 0 0 0 20px rgba(0, 202, 238, 0.17);
}
.h .slider > .thumb.active {
  box-shadow: 0 0 0 40px rgba(0, 202, 238, 0.17);
}
.h input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.h input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 64.5vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #264a6e;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  font-size: 0.9em;
}
header hr {
  width: 5.5em;
  border: 2px solid white;
  border-radius: 7px;
}
header span {
  display: flex;
  align-items: center;
}

.bouton {
  color: white;
  background: #f74a53;
  border-radius: 4px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: center;
}
.bouton:hover {
  cursor: pointer;
}
.bouton:active {
  background: rgba(221, 47, 47, 0.8588235294);
}

nav {
  background: #e5e7eb;
  width: 250px;
  height: 968px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
nav .ligne-logo {
  transform: scale(1.4, 1.4);
}
nav .ligne-1 {
  padding-top: 1.3em;
}
nav .ligne-1 .logo {
  transform: scale(1.3, 1.3);
}
nav .ligne-3 {
  padding-bottom: 5em;
}
nav ul {
  margin-bottom: 20em;
}
nav li {
  list-style: none;
  margin: 50px 0px;
}
nav a {
  text-decoration: none;
  color: #264a6e;
  padding: 10px 20px;
  font-size: 0.8em;
}

main {
  margin: 5em 15em 0em 15em;
  display: flex;
  flex-direction: column;
}
main .main-title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 2em;
}
main .main-title select {
  padding: 0.3em 1em;
  border-radius: 3px;
}
main .joursDouvertureEtHoraires {
  box-shadow: -1px 1px 27px -2px rgba(230, 224, 224, 0.64);
  -webkit-box-shadow: -1px 1px 27px -2px rgba(230, 224, 224, 0.64);
  -moz-box-shadow: -1px 1px 27px -2px rgba(230, 224, 224, 0.64);
  height: 200px;
  display: flex;
}
main .joursDouvertureEtHoraires span {
  font-weight: bold;
  margin-bottom: 2em;
}
main .joursDouvertureEtHoraires .jd {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2em 4em;
}
main .joursDouvertureEtHoraires .jd ul {
  display: flex;
  list-style: none;
  margin-bottom: 2.5em;
}
main .joursDouvertureEtHoraires .jd ul .circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #f74a53;
  margin-right: 0.5em;
}
main .joursDouvertureEtHoraires .jd ul .circle-grey {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #f74a53;
  background: #cac4c4;
  margin-right: 0.5em;
}
main .joursDouvertureEtHoraires .jd a {
  font-size: 0.7em;
  color: grey;
  text-decoration: none;
}
main .joursDouvertureEtHoraires .h {
  width: 60%;
  display: flex;
  padding: 2em 4em;
}
main .main-foot {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}
main .main-foot a {
  color: #264a6e;
  text-decoration: none;
}
main .main-foot div {
  color: white;
  background: #f74a53;
  border-radius: 5px;
  padding: 0.5em 2em 0.5em 2em;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 3em 15em 3em 10em;
  font-size: 0.9em;
  box-shadow: 0px -15px 13px -1px rgba(230, 224, 224, 0.64);
  -webkit-box-shadow: 0px -15px 13px -1px rgba(230, 224, 224, 0.64);
  -moz-box-shadow: 0px -15px 13px -1px rgba(230, 224, 224, 0.64);
}
footer .c1 {
  width: 80%;
  display: flex;
  flex-direction: column;
}
footer .c1 input {
  width: 50em;
  margin-top: 1em;
}
footer .c1 div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  padding-right: 33em;
  font-size: 0.8em;
}
footer .c2 {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}

/*# sourceMappingURL=default.css.map */
